@{
    ViewData["Privacy"] = "Контакты предприятия:";
}
<h1>@ViewData["Privacy"]</h1>
<ul>
	<li>Телефон: +8 800 555 35 35</li>
    <li>Адрес: ул. Коркина д.6 корп.5 </li>
    <li>Почта: questions@gmail.ru</li>
</ul>